@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



:root {
    --primary-color:var(--primary-color) #2f52e0;
    --secondary-color:var(--secondary-color) #ff715b;
    --acent1-color:var(--acent1-color) #f9cb40;
    --acent2-color:var(--acent2-color) #bced09;

    --heading-font: Roboto, serif;
    --paragraph-font: Roboto, serif;

    --nav-background-color: #2152e0;
    --nav-link-color: #bced09;
    --nav-hover-link-color: #215250;
    --nav-hover--background-color: #ffff;

}


body {
    font-family: var(--paragraph-font);
    font-family: Roboto,Arial, sans-serif;
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;

}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: center;
    color: var(--primary-color);
}

header {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: var(--acent1-color);
}

p {
    text-align: center;
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
   display: flex;

}
    
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}

nav a:link, nav a :visited {
color: var(--nav-hover-link-color);
background-color: var(--nav-hover--background-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover--background-color);
}

.sociallinks {
    clear: right;
}

.links {
    text-decoration: none;
}

h1 {
    color: steelblue;
    padding: 5rem;
}

main {
    max-width: 0;
    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.info {
    position: relative;
    text-align: center;
}

p {
    margin: 1rem;
}

 h2 {
    position: absolute;
    top: 140px;
    left: 0px;
    right: 0;
    color: #ffff;

}

footer {
    margin-top: 1rem;
    border: 1px solid #000;
    text-align: center;

}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0,0, 0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}
