@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



:root {
    --primary-color:var(--primary-color) #2f52e0;
    --secondary-color:var(--secondary-color) #ff715b;
    --acent1-color:var(--acent1-color) #f9cb40;
    --acent2-color:var(--acent2-color) #bced09;

    --heading-font: Roboto, serif;
    --paragraph-font: Roboto, sans-serif;

    --nav-background-color: #2152e0;
    --nav-link-color: #bced09;
    --nav-hover-link-color: #215250;
    --nav-hover--background-color: #ffff;

    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
        color: var(--primary-color);
        
      }
      

      footer a {
        text-decoration: none;
      }

      body {
        width: 450px; 
        margin: 0 auto;
        font-family: Arial, sans-serif;
      }

      .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
      }

      .info {
        position: relative;
        text-align: center;
      }

    h2 {
        position: absolute;
        top: 140;
        left: 0;
        right: 0;
        color: #fff;
    }
      .hero {
        position: relative;
        height: 500px;
      }
      
      .hero img {
        display: block;
        width: 100%;
        height: auto;
        
      }

      
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set the color of the text */
  }

  section:nth-of-type(1) {
    margin-top: 20px;
  }

  h1 {
    font-size: 24px; /* Adjust the font size as needed */
  }  
     
  article {
    background-color: rgba(0, 0, 0, 0.7); /* Set the background color with opacity */
    padding: 10px; /* Adjust the padding as needed */
    color: white; /* Set the color of the article content */
    margin-top: 10px; /* Add margin to create spacing between the h1 and article */
  }

  article img {
    float: right;
    width: auto; /* Ajusta el ancho automáticamente */
    max-height: 150px; /* Ajusta la altura máxima de la imagen según tus necesidades */
    margin-left: 10px; /* Ajusta el margen según tus necesidades */
    max-width: calc(100% - 10px); /* Resta el margen izquierdo del contenedor */
    object-fit: contain; 
  }