* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
}

main img {
    /* float right */
    float: right;
 }

 aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}




